[submodule "LUSID"]
	path = LUSID
	url = https://github.com/Cult-DSP/LUSID
[submodule "essentia"]
	path = essentia
	url = https://github.com/MTG/essentia
[submodule "cult_transcoder"]
	path = cult_transcoder
	url = https://github.com/Cult-DSP/cult_transcoder
